services:
  bot:
    build: .
    image: rgeraskin/squad-challenge-bot:0.1.0
    container_name: squad-challenge-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./data:/app/data
